:root{
    --mainColor:#15202B;
    --secondaryColor:#192734;

    --borderColor:#164D56;
    --themeDotBorder:#FFF;

    --mainText:#fff;
    --secondaryText:#eeeeee;

    --secondaryFont:'Roboto Mono', monospace;
    --mainFont:'Russo One', sans-serif;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --btnColor:#17a2b8;
}